In [2]:
# 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
# the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
# [1980, 1981, 1982, 1983, 1984, 1985].
# ANS-->
years_list=[2001, 2002, 2003, 2004, 2005, 2006]
years_list

[2001, 2002, 2003, 2004, 2005, 2006]

In [3]:
# 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your
# first year.
# ANS-->

years_list[3]

2004

In [6]:
# 3.In the years list, which year were you the oldest?
# ANS-->

years_list[5]
max(years_list)

2006

In [8]:
# 4. Make a list called things with these three strings as elements: "mozzarella", "cinderella",
# "salmonella".
# ANS-->
things=list(['mozzarella', 'cinderella','salmonella'])
things

['mozzarella', 'cinderella', 'salmonella']

In [10]:
# 5. Capitalize the element in things that refers to a person and then print the list. Did it change the
# element in the list?
# ANS-->
for i in things:
    print(i.capitalize())

Mozzarella
Cinderella
Salmonella

In [12]:
# 6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
# ANS-->
surprise=["Groucho" ,"Chico",  "Harpo"]
surprise

['Groucho', 'Chico', 'Harpo']

In [15]:
# 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
# ANS-->
print(surprise[-1].lower())
print(surprise[-1][::-1])
print(surprise[-1][::-1].upper())

harpo
opraH
OPRAH

In [16]:
# 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
# chien, cat is chat, and walrus is morse.
# ANS-->
e2f={"dog":"chien", "cat":"chat", "walrus":"morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [28]:
# 9. Write the French word for walrus in your three-word dictionary e2f.
# ANS-->
e2f.get("walrus")

'morse'

In [33]:
# 10. Make a French-to-EnglAish dictionary called f2e from e2f. Use the items method.
# ANS-->
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [34]:
# 11. Print the English version of the French word chien using f2e.
# ANS-->
f2e.values()

dict_values(['dog', 'cat', 'walrus'])

In [35]:
# 12. Make and print a set of English words from the keys in e2f.
# ANS-->
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [36]:
# 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants',
# and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and
# 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'.
# Make all the other keys refer to empty dictionaries.
# ANS-->

life ={'animals':{'cat':['Henri', 'Grumpy', 'Lucy'], 'octopi':'', 'emus':''},
       'plants' :'',
       'other' :'' }
life

{'animals': {'cat': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''},
 'plants': '',
 'other': ''}

In [37]:
# 14. Print the top-level keys of life.
# ANS-->
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [38]:
# 15 Print the keys for life['animals'].
# ANS-->
life['animals'].keys()

dict_keys(['cat', 'octopi', 'emus'])

In [39]:
# 16 Print the values for life['animals']['cat']
# ANS-->
life['animals']['cat']

['Henri', 'Grumpy', 'Lucy']